<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="numbers">Numbers</label>
    <input
      type="text"
      class="form-control"
      id="numbers"
      formControlName="numbers"
      placeholder="Enter numbers here"
    />
    <small class="form-text text-muted">
      Enter a list of numbers separated by a comma</small
    >
    <label for="order">Order</label>
    <select class="form-control" id="order" formControlName="order">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
    <div *ngIf="success">
      <p>Sorted numcbers: {{ sortedNumbers.join(", ") }}</p>
    </div>
    <div *ngIf="error">
      <p class="text-danger">An error occured: {{ error }}</p>
    </div>
  </div>
</form>
